<div class="row">
    <div class="col-xs-12 hero-section" style="height: 800px; position: absolute;">
        <span class="star"></span>
        <span class="star pink"></span>
        <span class="star blue"></span>
        <span class="star yellow"></span>
        <h1 style="text-align: center; margin: 0px; color: white;">Baney.Dev</h1>
        <p style="text-align: center; color: white;">Beautiful Applications with Beautiful Code</p>
        <img src="{{ fullImagePath }}" style="width: 100%; position: relative;">
    </div>
</div>
