<div class="row">
    <div class="col-xs-12 hero-section">
        <span class="star red"></span>
        <span class="star pink"></span>
        <span class="star blue"></span>
        <span class="star yellow"></span>

        <span class="star orange"></span>
        <span class="star purple"></span>
        <span class="star green"></span>
        <span class="star brown"></span>
        <div class="hero-heading" style="position: absolute; top: 50px; left: 50%; transform: translate(-50%)">
            <h1 style="font-family: 'Permanent Marker', cursive; font-weight: 300;font-size: 42px; text-align: center; margin: 0px; color: white;">Baney.Dev</h1>
            <p style="font-family: 'Courgette'; font-size: 20px; text-align: center; color: white; margin-top: 6px;">Beautiful Applications with Beautiful Code</p>
        </div>
        <img src="{{ fullImagePath }}" style="width: 100%; position: absolute; bottom: 0px; margin-top: 94px;">
    </div>
</div>
