<div class="row">
    <div class="col-xs-12 projects-section">
        <div class="testimonials-content"
             style="position: absolute; left: 80px; width: 1200px; top: 80px; height: 300px; border: 6px solid #021c3a; background-color: #0587d2; opacity: .6">
            <div class="testimonials-arrow">
                <div style="border: solid transparent; content: ''; height: 0; width: 0; position: absolute; pointer-events: none; border-top-color: #0587d2; border-width: 31px; top: -10px; left: 50%; transform: translate(-50%, -50%)">

                </div>
            </div>
        </div>
        <div class="cruise-ship">
            <img src="/assets/images/cruiseship2.png" alt="">
        </div>
        <div style="position: absolute; bottom: -73px;">
            <img class="beach-sand" src="/assets/images/beach-sand.png" alt="">
            <img src="{{ fullBeachImagePath }}" alt="">
        </div>
        <div style="position: absolute; width: 390px; height: 460px; bottom: -5px; right: -30px;">
            <img src="/assets/images/palmtreelean.png" alt="" style="width: 100%;">
        </div>
    </div>
</div>
