<div class="row">
    <div class="col-xs-12 projects-section">
        <h1 style="text-align: center; color: white; font-family: 'Courgette'; font-size: 48px; margin: 18px 0 0 0;">
            Testimonials</h1>
        <div class="testimonials-content">
            <div class="testimonials-arrow">
                <div style="border: solid transparent; content: ''; height: 0; width: 0; position: absolute; pointer-events: none; border-top-color: #0587d2; border-width: 31px; top: -10px; left: 50%; transform: translate(-50%, -50%)">

                </div>
            </div>
        </div>
        <div style="position: absolute; bottom: 0px; width: 100%; height: 375px;">
            <div class="cruise-ship" style="position: absolute; top: 0px;">
                <img src="/assets/images/cruiseship2.png" alt="">
            </div>
            <div style="position: absolute; bottom: -73px;">
                <img class="beach-sand" src="/assets/images/beach-sand.png" alt="" style="width: 100%;">
                <img src="{{ fullBeachImagePath }}" alt="">
            </div>
            <div class="palm-tree">
                <img src="/assets/images/palmtreelean.png" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
