<div class="row">
    <div class="col-xs-12">
        <div style="background-color: #021c3d; position: relative; height: 830px;">
            <div class="contact-title">
                <h1>About Me</h1>
            </div>
            <div class="bio-photo">
                <img src="/assets/images/about-me.jpg" alt="" style="width: 100%; border-radius: 50%">
            </div>
            <div class="bio-content-container">
                <p class="bio-content">
                    Howdy ! My name is Timothy Baney, and I'm a web developer. I went
                    to school in Arizona, drifting through majors like many others do until
                    finally discovering the amazing world of code, and setting my sites on
                    Computer Science. I received certification from a coding bootcamp, and
                    eventually received a job offer in northwest Arkansas at a company called
                    Mill Creek Software where I create content managed web applications for
                    clients of all sorts. I live with my beautiful fiance, and 4 party animals.
                    When I'm not working on the information super highway, I like kayaking,
                    biking, and trying to tire out my german shepherd. I also love to travel.
                    If you'd like to get in touch with me about a website, remote work, or even
                    just to give me feedback about this site, please email or call me, or
                    visit me on social media.
                </p>
                <p class="phone-email">
                    <i class="fa fa-phone" style="margin-right: 5px;"></i><span
                        style="margin-right: 20px;">479-418-2865</span>
                    <a href="mailto:tim@millcreeksoftware.biz">
                        <i class="fa fa-envelope-o" style="margin-right: 5px;"></i>
                        <span>tim@millcreeksoftware.biz</span>
                    </a>
                </p>
            </div>
            <div class="social-icons">
                <div style="display: inline-block; width: 50px; height: 50px; margin-right: 10px;">
                    <a href="https://www.linkedin.com/in/timothy-baney-b5293664" target="_blank">
                        <img src="/assets/images/linkedin.png" alt="" style="width: 100%">
                    </a>
                </div>
                <div style="display: inline-block; width: 50px; height: 50px;">
                    <a href="https://twitter.com/timbaney1989?lang=en" target="_blank">
                        <img src="/assets/images/twitter.png" alt="" style="width: 100%">
                    </a>
                </div>
                <div style="display: inline-block; width: 50px; height: 50px;">
                    <a href="http://stackoverflow.com/users/5159043/timothy-joseph-baney" target="_blank">
                        <img src="/assets/images/so-icon.png" alt="" style="width: 100%">
                    </a>
                </div>
                <div style="display: inline-block; width: 50px; height: 50px; margin-right: 5px;">
                    <a href="https://github.com/TJBANEY" target="_blank">
                        <img src="/assets/images/github.png" alt="" style="width: 100%">
                    </a>
                </div>
            </div>
            <div class="pets">
                <img src="/assets/images/pets.png" alt="" style="width: 100%;">
            </div>
            <div class="desk">
                <img src="/assets/images/computer-desk.png" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
