<div class="row">
    <div class="col-xs-12">
        <div style="margin-top: 50px;">
            <h1 style="text-align: center;">About Me</h1>
        </div>
        <div style="display: inline-block; width: 300px; height: 300px; border-radius: 50%; background-color: red; margin-left: 60px; margin-top: 40px;">
            <img src="/assets/images/about-me.jpg" alt="" style="width: 100%; border-radius: 50%">
        </div>
        <div style="display: inline-block; width: 800px; border: 2px solid black; margin-left: 100px;">
            <p>
                Lorem ipsum dolor sit amet adipisicing elit dolorem lorem site ipsum.
                Lorem ipsum dolor sit amet adipisicing elit dolorem lorem site ipsum.
                Lorem ipsum dolor sit amet adipisicing elit dolorem lorem site ipsum.
                Lorem ipsum dolor sit amet adipisicing elit dolorem lorem site ipsum.
                Lorem ipsum dolor sit amet adipisicing elit dolorem lorem site ipsum.
                Lorem ipsum dolor sit amet adipisicing elit dolorem lorem site ipsum.
            </p>
        </div>
    </div>
</div>
