<div class="row" style="margin-top: 40px;">
    <div class="col-xs-12">
        <div style="padding: 0 18%;">
            <img src="/assets/images/chalkboard-title.png" alt="" style="display: block; width: 100%;">
        </div>
    </div>
    <div style="display: block; margin: 0 auto; float: left;">
        <div class="skill" id="python" (click)="showSkillInfo('python')">
            <img src="/assets/images/chalkboard-python.png" alt="">
        </div>
        <div class="skill" id="node" (click)="showSkillInfo('node')">
            <img src="/assets/images/chalkboard-node.png" alt="">
        </div>
        <div class="skill" id="angular2" (click)="showSkillInfo('angular2')">
            <img src="/assets/images/chalkboard-angular2.png" alt="">
        </div>
        <div class="skill" id="django" (click)="showSkillInfo('django')">
            <img src="/assets/images/chalkboard-django.png" alt="">
        </div>
        <div class="skill" id="responsive" (click)="showSkillInfo('responsive')">
            <img src="/assets/images/chalkboard-responsive.png" alt="">
        </div>
    </div>
    <div class="chalkboard-content col-xs-12" style="float: left; min-height: 350px; width: 100%;">
        <div class="content-container-2">
            <img *ngIf="info" [src]="info" alt="" style="display: block; width: 100%;">
        </div>
    </div>
    <div class="bottom-skill-container" style="display: block; float: left;">
        <div class="skill" id="basics" (click)="showSkillInfo('basics')">
            <img src="/assets/images/chalkboard-basics.png" alt="">
        </div>
        <div class="skill" id="bootstrap" (click)="showSkillInfo('bootstrap')">
            <img src="/assets/images/chalkboard-bootstrap.png" alt="">
        </div>
        <div class="skill" id="bower" (click)="showSkillInfo('bower')">
            <img src="/assets/images/chalkboard-bower.png" alt="">
        </div>
        <div class="skill" id="treehouse" (click)="showSkillInfo('treehouse')">
            <img src="/assets/images/chalkboard-treehouse.png" alt="">
        </div>
        <div class="skill" id="phoenix" (click)="showSkillInfo('phoenix')">
            <img src="/assets/images/chalkboard_uni_phoenix.png" alt="">
        </div>
    </div>
</div>
