<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<div class="container">
    <div class="st-container">

        <div class="st-scroll">

            <section class="st-panel" id="st-panel-1">
                <app-hero></app-hero>
            </section>

            <section class="st-panel st-color" id="st-panel-2">
                <app-skills></app-skills>
            </section>

            <section class="st-panel st-color" id="st-panel-4" style="background-color: #021c3d;">
                <app-testimonials></app-testimonials>
            </section>

            <section class="st-panel st-color" id="st-panel-3" style="background-image: url('/assets/images/starry-night.jpg'); background-attachment: fixed;">
                <app-projects></app-projects>
            </section>

            <section class="st-panel st-color" id="st-panel-5">
                <app-contact></app-contact>
            </section>

        </div>

    </div>
</div>

