<div class="testimonials-section">
    <h1 style="font-family: Courgette; text-align: center; font-size: 58px; color: white;">Projects</h1>

    <a href="https://humanlink.co/#/" target="_blank">
        <div class="box box1" style="border: 4px solid black; display: inline-block; margin-right: 8%;">
            <svg width="100%" height="100%">
                <line class="top" x1="0" y1="0" x2="100%" y2="0"/>
                <line class="left" x1="0" y1="100%" x2="0" y2="0"/>
                <line class="bottom" x1="100%" y1="100%" x2="-100%" y2="100%"/>
                <line class="right" x1="100%" y1="0" x2="100%" y2="100%"/>
            </svg>
            <img src="/assets/images/humanlink.png" alt="" style="width: 100%">
        </div>
    </a>

    <a href="http://atlasdsr.com/" target="_blank">
        <div class="box box2"
             style="border: 4px solid black; float: left; display: inline-block; margin-right: 6%; margin-left: 14%;">
            <svg width="100%" height="100%">
                <line class="top" x1="0" y1="0" x2="100%" y2="0"/>
                <line class="left" x1="0" y1="100%" x2="0" y2="0"/>
                <line class="bottom" x1="100%" y1="100%" x2="-100%" y2="100%"/>
                <line class="right" x1="100%" y1="0" x2="100%" y2="100%"/>
            </svg>
            <img src="/assets/images/atlas.png" alt="" style="width: 100%">
        </div>
    </a>

    <a href="http://myphones.webfactional.com/" target="_blank">
        <div class="box box3"
             style="border: 4px solid black; float: left; display: inline-block; margin-right: 6%; margin-left: 14%; margin-top: 50px">
            <svg width="100%" height="100%">
                <line class="top" x1="0" y1="0" x2="100%" y2="0"/>
                <line class="left" x1="0" y1="100%" x2="0" y2="0"/>
                <line class="bottom" x1="100%" y1="100%" x2="-100%" y2="100%"/>
                <line class="right" x1="100%" y1="0" x2="100%" y2="100%"/>
            </svg>
            <img src="/assets/images/myphones.png" alt="" style="width: 100%">
        </div>
    </a>

    <a href="http://creekkooler.webfactional.com/" target="_blank">
        <div class="box box4" style="border: 4px solid black; float: left; display: inline-block; margin-top: 50px; margin-right: 8%;">
            <svg width="100%" height="100%">
                <line class="top" x1="0" y1="0" x2="100%" y2="0"/>
                <line class="left" x1="0" y1="100%" x2="0" y2="0"/>
                <line class="bottom" x1="100%" y1="100%" x2="-100%" y2="100%"/>
                <line class="right" x1="100%" y1="0" x2="100%" y2="100%"/>
            </svg>
            <img src="/assets/images/creekkooler.png" alt="" style="width: 100%">
        </div>
    </a>
</div>
