<div class="testimonials-section">
    <h1 style="font-family: Courgette; text-align: center; font-size: 58px;">Projects</h1>
    <div class="box box1" style="border: 4px solid black; display: inline-block;">
        <svg width="490" height="270">
            <line class="top" x1="0" y1="0" x2="490" y2="0"/>
            <line class="left" x1="0" y1="270" x2="0" y2="0"/>
            <line class="bottom" x1="490" y1="270" x2="-490" y2="270"/>
            <line class="right" x1="490" y1="0" x2="490" y2="490"/>
        </svg>
        <img src="/assets/images/humanlink.png" alt="" style="width: 100%">
    </div>

    <div class="box box2"
         style="border: 4px solid black; float: left; display: inline-block; margin-right: 80px; margin-left: 180px;">
        <svg width="490" height="270">
            <line class="top" x1="0" y1="0" x2="490" y2="0"/>
            <line class="left" x1="0" y1="270" x2="0" y2="0"/>
            <line class="bottom" x1="490" y1="270" x2="-490" y2="270"/>
            <line class="right" x1="490" y1="0" x2="490" y2="490"/>
        </svg>
        <img src="/assets/images/atlas.png" alt="" style="width: 100%">
    </div>

    <div class="box box3"
         style="border: 4px solid black; float: left; display: inline-block; margin-right: 80px; margin-left: 180px; margin-top: 50px">
        <svg width="490" height="270">
            <line class="top" x1="0" y1="0" x2="490" y2="0"/>
            <line class="left" x1="0" y1="270" x2="0" y2="0"/>
            <line class="bottom" x1="490" y1="270" x2="-490" y2="270"/>
            <line class="right" x1="490" y1="0" x2="490" y2="490"/>
        </svg>
        <img src="/assets/images/myphones.png" alt="" style="width: 100%">
    </div>

    <div class="box box4" style="border: 4px solid black; float: left; display: inline-block; margin-top: 50px">
        <svg width="490" height="270">
            <line class="top" x1="0" y1="0" x2="490" y2="0"/>
            <line class="left" x1="0" y1="270" x2="0" y2="0"/>
            <line class="bottom" x1="490" y1="270" x2="-490" y2="270"/>
            <line class="right" x1="490" y1="0" x2="490" y2="490"/>
        </svg>
        <img src="/assets/images/creekkooler.png" alt="" style="width: 100%">
    </div>
</div>
